{% extends "AcmeTask5Bundle:Default:layout.html.twig" %}

{% block title "My cool index page" %}

{% block jumbotron %}
    <h1>Thisis my {{ page_name }} page</h1>

    <p class="lead"></p>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success" href="" role="button">Learn more</a></p>
{% endblock %}

{% block col1 %}
    <h2>Tent name: <p class="lead"><strong>{{ tent_name | upper }}</strong></p></h2>
    <p>{{ price }}</p>
    <p>{{ description }}</p>
    <p><a class="btn btn-default" href="{{ path('acme_task5_index') }}" role="button">Buy tent</a></p>
{% endblock %}

{% block col2 %}
    <h2>Tent name: <p class="lead"><strong>{{ tent_name | upper }}</strong></p></h2>
    <p>{{ price }}</p>
    <p>{{ description }}</p>
    <p><a class="btn btn-default" href="{{ path('acme_task5_index') }}" role="button">Buy tent</a></p>
{% endblock %}

{% block col3 %}
    <h2>Tent name: <p class="lead"><strong>{{ tent_name | upper }}</strong></p></h2>
    <p>{{ price }}</p>
    <p>{{ description }}</p>
    <p><a class="btn btn-default" href="{{ path('acme_task5_index') }}" role="button">Buy tent</a></p>
{% endblock %}