{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/acmetask5/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/acmetask5/css/style.css') }}" />
{% endblock %}

{% block body %}
    {% block container %}
    <div class="container">

        {% block header %}
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="{{ path('acme_task5_index') }}">Home</a></li>
                <li><a href="{{ path('acme_task5_about') }}">About</a></li>
                <li><a href="{{ path('acme_task5_contact') }}">Contact</a></li>
            </ul>
            <h3 class="text-muted">HomeTask 5</h3>
        </div>
        {% endblock %}

        <div class="jumbotron">
            {% block jumbotron %}{% endblock %}
        </div>

        {% block cols %}
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    {% block col1 %} {% endblock %}
                </div>
                <div class="col-md-4">
                    {% block col2 %} {% endblock %}
                </div>
                <div class="col-md-4">
                    {% block col3 %} {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block footer %}
        <div class="footer">
            <p>&copy; Company 2013</p>
        </div>
        {% endblock %}

    </div> <!-- /container -->
    {% endblock %}

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ asset('bundles/acmetask5/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/acmetask5/js/main.js') }}"></script>
{% endblock %}



